---
import { getHome } from '@lib/content';
import { inline } from '@lib/richtext';

const { about } = await getHome();
---
<section class="band soft" id="about">
  <div class="wrap">
    <div class="sec-head reveal">
      <div class="kicker" data-lang-en>{about.kicker.en}</div><div class="kicker" data-lang-ru>{about.kicker.ru}</div>
      <h2 data-lang-en>{about.heading.en}</h2>
      <h2 data-lang-ru>{about.heading.ru}</h2>
    </div>
    <div class="reveal">
      {
        about.body.map((p) => (
          <>
            <p class="body" data-lang-en set:html={inline(p.en)} />
            <p class="body" data-lang-ru set:html={inline(p.ru)} />
          </>
        ))
      }
    </div>
  </div>
</section>
