---
import { getHome } from '@lib/content';

const { focus } = await getHome();
---
<section class="band" id="focus">
  <div class="wrap">
    <div class="sec-head reveal">
      <div class="kicker" data-lang-en>{focus.kicker.en}</div><div class="kicker" data-lang-ru>{focus.kicker.ru}</div>
      <h2 data-lang-en>{focus.heading.en}</h2>
      <h2 data-lang-ru>{focus.heading.ru}</h2>
    </div>

    <div class="cards">
      {
        focus.cards.map((card) => (
          <article class="card reveal">
            <div class="ico">{card.icon}</div>
            <div class="sub" data-lang-en>{card.sub.en}</div><div class="sub" data-lang-ru>{card.sub.ru}</div>
            <h3 data-lang-en>{card.title.en}</h3><h3 data-lang-ru>{card.title.ru}</h3>
            <p data-lang-en>{card.body.en}</p>
            <p data-lang-ru>{card.body.ru}</p>
          </article>
        ))
      }
    </div>
  </div>
</section>
